.calendar {
  margin: auto;
  width: 600px;
  height: 400px;
  border: 3px solid red;
}

.month {
  padding: 25px 25px;
  width: 100%;
  background: #3d3c24;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

#calendar-month {
  font-size: 32px;
  letter-spacing: .20rem;
  margin-bottom: 0px;
}

#calendar-full-date {
  letter-spacing: .1rem;
  margin-bottom: 0px;
}

.month div {
  align-items: center;
}

.calendar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 23px;
  width: 50px;
  height: 50px;
}
.month span:hover {
  border-radius: 50%;
  background-color: rgba(0,0,0,0.1);
}

.prev {
  float: left;
}

.next {
  float: right;
}

.weekdays {
  font-weight: 200;
  margin: 0;
  padding: 10px 0;
  color: #666;
  background-color: #ddd;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  text-align: center;
  font-size: 0.75rem;
  color: #777;
  margin-bottom: 20px;
}

td:hover {
  transition: all 0.2s;
  background-color: #ddd;
  cursor: pointer;
}
